/**
 * openeras common styles
 */

.openeras-labels-list .remove-item{
  visibility: hidden;
  opacity: 0.5;
  border-radius: 2px;
  padding: 0 4px;
}

.openeras-labels-list .remove-item:hover{
  opacity: 1;
  background: rgba(0,0,0,0.7);
  color: #fff;
}

.openeras-labels-list .item:hover .remove-item{
  visibility: visible;
}

.openeras-project-form .select2{
  width: 400px;
}

.openeras-project-form .select2-container-multi .select2-choices{
  background: none;
  border-color: #ccc;
  padding: 5px;
}

.openeras-project-form .cke_chrome{
  margin-left: 140px;
  max-width: 700px;
}

.openeras-event-form .select2{
  width: 400px;
}