/**
 * openeras common styles
 */

.openeras-venues-list li .item,
.openeras-labels-list li .item{
  border-left-width: 0;
}
.openeras-venues-list li .item:hover,
.openeras-venues-list li .item.selected,
.openeras-labels-list li .item.selected,
.openeras-labels-list li .item:hover{
  background-color: #2AABD6;
  color: #fff;
}

.openeras-labels-list li .item.selected a.title,
.openeras-labels-list li .item:hover a.title,
.openeras-venues-list li .item.selected a.title,
.openeras-venues-list li .item:hover a.title{
  color: #fff;
}

.openeras-venues-list .remove-item,
.openeras-labels-list .remove-item{
  visibility: hidden;
  opacity: 0.5;
  border-radius: 2px;
  padding: 0 4px;
}

.openeras-venues-list .remove-item:hover,
.openeras-labels-list .remove-item:hover{
  opacity: 1;
  background: rgba(0,0,0,0.7);
  color: #fff;
}

.openeras-venues-list .item:hover .remove-item,
.openeras-labels-list .item:hover .remove-item{
  visibility: visible;
}

#events-grid .publish-button{
  cursor: pointer;
}

.scrollable-content.iox-form.openeras-project-form{
  top: 100px;
}

.openeras-project-form .select2{
  width: 400px;
}

.openeras-project-form .select2-container-multi .select2-choices{
  background: none;
  border-color: #ccc;
  padding: 5px;
}

.openeras-project-form .cke_chrome{
  margin-left: 140px;
  max-width: 700px;
}

.openeras-project-form .project-labels{
  width: 358px;
  float: left;
}

.openeras-project-form .new-label{
  margin-left: 3px;
}

.openeras-event-form .select2{
  width: 400px;
}

.openeras-event-form .select-venue{
  width: 367px;
}

.openeras-event-form .new-venue{
  width: 20px;
}

#select2-drop{
  z-index: 100000;
}

.prices-control{
  text-align: right;
  margin: 10px;
}

.prices-control .btn{
  padding: 2px 8px;
  margin-left: 5px
}

.upload-container .icon-upload{ 
  font-size: 40px; 
  line-height: 40px;
  color: #ddd; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  height: 40px;
  margin: auto; 
  display: block; 
  z-index: 0; 
  text-align: center; 
}
.upload-container{ 
  border: 1px solid #eee; 
  color: #777; 
  float: none; 
  width: 100%; 
  height: 100px;
  position: relative; 
}
.upload-container:hover{
  background: #eee;
  border-color: #999;
}
.upload-container:hover .icon-plus{
  color: #aaa;
}
.upload-container.drop-here{ background: #08c; color: #fff; }
.upload-container input[type=file]{ 
  opacity: 0; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100px; 
  z-index: 3; 
  cursor: pointer;
}

.files-list{
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.files-list li{
  height: 60px;
}

.files-list img{
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border: 1px solid #ddd;
  float: left;
}

.files-list .details{
  float: right;
  padding: 10px 20px;
}

.files-list .details a{
  color: #bbb;
  padding: 0 5px;
}

.files-list .details a.move{
  cursor: move;
}

.files-list .details a:hover{
  color: #333;
}

.files-list .info{
  margin-left: 60px;
  padding: 10px;
}

.files-list .info h4{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 14px;
}
.files-list .filesize{
  color: #999;
  font-size: 0.9em;
}

.files-list .description,
.files-list .copyright{
  color: #999;
  font-size: 0.8em;
}

#files-progress{
  width: 100%;
  height: 5px;
}

#files-progress .bar{
  background-color: #3F95FF;
  height: 5px;
}

.cut-image-container{
  margin: 20px;
}

.cutter{
  position: relative;
  overflow: hidden;
}

.cutter img.crop-img{
  cursor: move;
  position: absolute;
  max-width: none;
}
